.balance {
  padding-bottom: 36px;
  &-head {
    margin-bottom: 34px;
    display: flex;
    flex-direction: column;
    &__text {
      color: #aeaeae;
      font-size: 12px;
    }
    &__sum {
      color: #fdf5f5;
      font-size: 20px;
    }
  }
  &-type {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    &-item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      width: 150px;
      height: 196px;
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 1px 1px 5px 1px #000;
      transition: all .5s;
      &:hover {
        box-shadow: 1px 1px 5px 5px #000;
      }
      &:first-of-type > &__sum::before {
        content: "$22.00";
        position: absolute;
        top: 20%;
        left: -20px;
        color: #ffffff32;
        font-size: 80px;
        font-weight: 500;
      }
      &:last-of-type > &__sum::before {
        content: "$135.00";
        position: absolute;
        top: 20%;
        left: -20px;
        color: #ffffff32;
        font-size: 80px;
        font-weight: 500;
      }
      &--crypto {
        background: url("../assets/crypto_bg.png");
      }
      &--dollars {
        background: url("../assets/dollars_bg.png");
      }
      &__sum {
        margin-bottom: 60px;
        color: #fff;
        font-size: 20px;
      }
      &__text {
        margin-bottom: 20px;
        color: #fff;
        font-size: 12px;
        &::first-letter{
          text-transform: uppercase;
        }
      }
    }
  }
}
